<h2>Member in project</h2>
<p>Project have <%= @users.length %>member</p>
<table class="table">
  <thead class="thead-dark">
  <th>#</th>
  <th>Name</th>
  <th>Email</th>
  <th>Action</th>
  </thead>
  <% @users.each_with_index do |user, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= user.user.information.name %></td>
      <td><%= User.find(user.user_id).email %></td>
      <% if current_user.information.admin? || current_user.information.pm? %>
        <td><%= link_to "Detail", user_path(user.user_id), class: "btn btn-primary" %></td>
      <% end %>
    </tr>
  <% end %>


</table>
