<h2>Member in <%= @project.name %> project</h2>
<div class="row">
  <p style="color: #2f9bcd" class="col-6">Project have <%= @users.length %> member</p>
  <% if current_user.information.admin? || current_user.information.pm? %>
    <div style="margin-left: 57%; margin-top: -4%" class="col-6"><%= link_to 'Done project', done_project_path(:id => @project.id), class: 'btn btn-warning' %></div>
    <div style="margin-left: 68%; margin-top: -4%" class="col-6"><%= link_to 'Change leader', change_leader_path(:id => @project.id), class: 'btn btn-warning' %></div>
    <div style="margin-left: 80%; margin-top: -4%" class="col-6"><%= link_to 'Add user to project', edit_users_project_path(@project.id), class: 'btn btn-success' %></div>
  <% end %>

</div>
<table class="table">
  <thead class="thead-dark">
  <th>#</th>
  <th>Name</th>
  <th>Email</th>
  <th>Role</th>
  <% if current_user.information.admin? || current_user.information.pm? || current_user.information.hr? || @project.user_id == current_user.id %>
    <th colspan="2">Action</th>
  <% end %>

  </thead>
  <% @users.each_with_index do |user, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= user.user.information.name %></td>
      <td><%= User.find(user.user_id).email %></td>
      <% if @project.user_id == user.user_id %>
        <td style="color: red">Leader</td>
      <% else %>
        <td>Employee</td>
      <% end %>
      <% if current_user.information.admin? || current_user.information.pm? || current_user.information.hr? %>
        <td><%= link_to "Detail", user_path(user.user_id), class: "btn btn-primary" %></td>
        <% if @project.user_id == user.user_id %>
        <% else %>
          <td><%= link_to "Kick", users_project_path(user.user_id), data: { "turbo-method": :delete, turbo_confirm: :'Are you sure?' }, class: "btn btn-danger" %></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>


</table>
