<h2>Sign up</h2>

<%= nested_form_for([resource, resource.with_information], url: registration_path(resource_name)) do |f| %>

  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-field">
    <%= f.label :email %><br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class: "form-control col-md-4" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br/> <%= f.password_field :password, autocomplete: "new-password" , class: "form-control col-md-4"%>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <br/>
    <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "form-control col-md-4" %>
  </div>

  <%= f.fields_for :information do |ui| %>

    <div class="form-field">
      <%= ui.label :name %>
      <%= ui.text_field :name, class: "form-control col-md-4" %>
    </div>

    <div class="form-field">
      <%= ui.label :address %>
      <%= ui.text_field :address ,class: "form-control col-md-4"%>
    </div>

    <div class="form-field">
      <%= ui.label :date_of_birth %>
      <%= ui.date_field :date_of_birth, class: "form-control col-md-4"%>
    </div>

    <div class="form-field">
      <%= ui.label :phone %>
      <%= ui.text_field :phone, class: "form-control col-md-4" %>
    </div>

    <select name="role">
      <option value="2">HR</option>
      <option value="3">Employee</option>
    </select>

  <% end %>

  <div class="actions">
    <%= f.submit "Sign up" ,class: 'btn btn-primary mt-2'%>
  </div>

<% end %>
