<h2>Sign up</h2>

<%= nested_form_for([resource, resource.with_information], url: registration_path(resource_name)) do |f| %>

  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field"> <%= f.label :email %><br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br/> <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <br/>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <%= f.fields_for :information do |ui| %>

    <div>
      <p>Name: <%= ui.text_field :name %></p>
    </div>

    <div>
      <p>Address: <%= ui.text_field :address %></p>
    </div>

    <div>
      <p>Date of birth: <%= ui.date_field :date_of_birth %></p>
    </div>

    <div>
      <p>Phone Number: <%= ui.text_field :phone %></p>
    </div>

    <div>
      <p>Role: <%= ui.collection_select :role_id, @roles, :id, :name, prompt: false %></p>
    </div>

  <% end %>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>

<% end %>

<%= render "devise/shared/links" %>