<h2>Danh sach nhan vien</h2>
<% if current_user.information.admin? %>
  <%= link_to "Sign up", new_user_registration_path , class: 'btn btn-primary mb-2'%><br/>
<% end %>
<table class="table">
  <thead class="thead-dark">
  <th>#</th>
  <th>Name</th>
  <th>Email</th>
  <th>Address</th>
  <th>Date of Birthday</th>
<!--  <th>Department</th>-->
  <th>Role</th>
  </thead>
  <% @users.each_with_index do |user, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= user.information.name %></td>
      <td><%= user.email %></td>
      <td><%= user.information.address %></td>
      <td><%= user.information.date_of_birth.strftime("%d/%m/%Y") %></td>
      <% if user.information.has_department == true && user.information.role_id != 1 %>
        <td><%= Department.find(user.users_department.department_id).name %></td>
        <%else %>
        <td>No department</td>
      <% end %>
      <td><%= user.information.role_id %></td>
    </tr>
  <% end %>
</table>