<%=render "layouts/navbar" %>
<h1>All department</h1>
<table>
  <% @departments.each do |department| %>
    <tr>
      <td><%= department.name %></td>
      <td><%= link_to 'Edit', { :action => 'edit', :id => department.id} %></td>
      <td><%= link_to 'Delete', department, :method => :delete ,:data => {:confirm => "You Sure?"}%></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Add department', { :action => 'new'} %>



