<h1>Change leader on <%= @project.name %>'s project</h1>
<%= form_with(model: @project_change, local: true) do |f| %>
  <div class="ml-4 mt-3">
    <p>Project start at: <%= @project.created_at.strftime("%d/%m/%Y") %></p>

    <% if @project.user.nil? %>
      <% else %>
      <p>Leader email: <%= @project.user.email %></p>
    <% end %>

    <%= f.label :New_leader %>:
    <%= f.select :user_id, options_for_select(@project.users.map { |leader| [leader.email, leader.id] }), {}, class: 'form-control col-md-4' %>
    <%= f.hidden_field :id, value: @project.id %>
    <%= f.submit 'Change', class: "btn btn-primary mt-2" %>
  </div>
<% end %>
<h2 class="mt-5">Member in <%= @project.name %> project</h2>
<div class="row">
  <p style="color: #2f9bcd" class="col-6 ml-4">Project have <%= @project.users.length %> member</p>
  <% if current_user.information.admin? || current_user.information.pm? %>
    <div style="margin-left: 81%; margin-top: -4%" class="col-6"><%= link_to raw('<i class="fa fa-user-plus" aria-hidden="true"></i>
 Add user to project'), edit_users_project_path(@project.id), class: 'btn btn-success' %></div>
  <% end %>
</div>
<% if @project.user.blank? %>
<% else %>
  <table class="table">
    <thead class="thead-dark">
    <th>#</th>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Date of Birth</th>
    <th>Role</th>
    <th>Action</th>
    </thead>
    <% @project.users.each_with_index do |user, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= user.information.name %></td>
        <td><%= user.email %></td>
        <td><%= user.information.phone %></td>
        <td><%= user.information.date_of_birth.strftime('%d/%m/%Y') %></td>
        <% if @project.user_id == user.id %>
          <td style="color: red">Leader</td>
        <% else %>
          <td>Employee</td>
        <% end %>
        <td><%= link_to raw('<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-dash-fill" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M11 7.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5z"/>
  <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
</svg> Delete'), users_project_path(user.id), data: { "turbo-method": :delete, turbo_confirm: :'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </table>
<% end %>