<% if @doing_projects.blank? %>
  <h3 style="text-align: center">You dont't have project</h3>
<% else %>
  <% if current_user.information.pm? || current_user.information.employee? %>
    <h2><%= Department.find(@department_id).name %>'s projects</h2>
  <% else %>
    <h2> All projects</h2>
  <% end %>
  <table class="table" style="text-align: center">
    <thead class="thead-dark">
    <th>Name project</th>
    <th>Name leader</th>
    <% if current_user.information.pm? || current_user.information.admin? %>
      <th>Action</th>
    <% end %>
    </thead>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.name, users_project_path(project) %>
        <td><%= User.find(project.user_id).email %></td>
        </td>
        <% if current_user.information.admin? || current_user.information.pm? %>
          <% if policy(project).change_leader? %>
            <td><%= link_to 'Change leader', { :action => 'change_leader', :id => project.id } %>|
          <% end %>
          <%= link_to 'Done project', { :action => 'done_project', :id => project.id } %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
<%# end %>

<%= link_to 'Back', '/' %>


