<% if @projects.blank? %>
  <h3 style="text-align: center">You dont't have project</h3>
  <% if current_user.information.admin? %>
    <%= link_to raw('<i class="fa fa-refresh" aria-hidden="true"></i>
 Add new projects'), new_project_path, class: 'btn btn-success' %>
  <% end %>
<% else %>
  <% if current_user.information.pm? || current_user.information.employee? %>
    <h2><%= Department.find(@department_id).name %>'s projects</h2>
  <% else %>
    <h2> All projects</h2>
  <% end %>
  <% if current_user.information.admin? %>
    <%= link_to raw('<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
</svg>
 Add new projects'), new_project_path, class: 'btn btn-success' %>
  <% end %>
  <% if true == session[:status] %>
    <%= link_to raw('<i class="fa fa-check-circle-o" aria-hidden="true"></i>
 Doing projects'), changeStatus_path, class: 'btn btn-success' %>
  <% else %>
    <%= link_to raw('<i class="fa fa-check-circle-o" aria-hidden="true"></i>
 Done projects'), changeStatus_path, class: 'btn btn-success' %>
  <% end %>
  <table class="table mt-2" style="text-align: center">
    <thead class="thead-dark">
    <th>Name project</th>
    <th>Name leader</th>
    <% if true == session[:status] %>
      <th>Time done</th>
      <% if current_user.information.pm? || current_user.information.admin? %>
        <th colspan="2">Action</th>
      <% end %>
    <% else %>
      <th>Time assign</th>
      <% if current_user.information.pm? || current_user.information.admin? %>
        <th colspan="2">Action</th>
      <% end %>
    <% end %>

    </thead>
    <% @projects.each do |project| %>
      <% if project.status == session[:status] %>
        <tr>
          <td><%= link_to project.name, users_project_path(project) %>
          <td><%= User.find(project.user_id).email %></td>
          </td>
          <% if true == session[:status] %>
            <td>
              <div><%= project.updated_at.strftime("%d/%m/%Y") %></div>
            </td>
            <% if policy(project).change_leader? %>
              <td>
                <div><%= link_to raw('<i class="fa fa-refresh" aria-hidden="true"></i>
 Restart project'), restart_project_path(:id => project.id), class: 'btn btn-success' %></div>
              </td>
            <% end %>
          <% else %>
            <td>
              <div><%= project.created_at.strftime("%d/%m/%Y") %></div>
            </td>
            <% if policy(project).change_leader? %>
              <td>
                <div><%= link_to raw('<i class="fa fa-exchange" aria-hidden="true"></i>
 Change leader'), change_leader_path(:id => project.id), class: 'btn btn-success' %></div>
              </td>
              <td>
                <div><%= link_to raw('<i class="fa fa-check-circle-o" aria-hidden="true"></i>
 Done project'), done_project_path(:id => project.id), class: 'btn btn-success' %></div>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </table>
<% end %>



