<% if current_user.information.pm? || current_user.information.employee? %>
  <h2><%= Department.find(@department_id).name %>'s projects</h2>
<% end %>
<% @projects.each do |project| %>
  <table>
    <% if project.status != true %>
      <tr>
        <td><%= link_to project.name, { :action => 'users_projects_detail', :id => project.id } %>
          (<%= User.find(project.user_id).email %>)
        </td>
        <% if current_user.information.admin? || current_user.information.pm? %>
          <td><%= link_to 'Change leader', { :action => 'change_leader', :id => project.id } %></td>
          <td><%= link_to 'Done project', { :action => 'done_project', :id => project.id } %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
<%= link_to 'Back', '/' %>
