<%= form_with(model: @users_department, method: :post, local: true) do |f| %>

  <div>
    <%= f.label :user_id %>
    <%= f.select :user_id, options_for_select(@users.map{|user| [user.email, user.id] }),{}, class: "form-control col-md-7"%>
  </div>

  <input type="hidden" name="department_id" value="<%= @department.id %>">

  <%= f.submit yield(:button_text), class: "btn btn-primary mt-2" %>
<% end %>