<%= form_with(model: @users_department, method: :post, local: true) do |f| %>

  <div>
    <%= f.label :user_id %>
    <%= f.select :user_id, options_for_select(@users.map{|user| [user.email] }),{}, class: "form-control col-md-7"%>
  </div>

  <div>
    <%= f.label :department_id %>
    <%= f.select :department_id, options_for_select(@departments.map { |department| [department.name, department.id] }), {}, class: 'form-control col-md-7' %>

  </div>

  <%= f.submit yield(:button_text), class: "btn btn-primary mt-2" %>
<% end %>