<h3> Are you sure you want to kick this employee?</h3>
<strong>Name: </strong> <%= @user.information.name %><br/>
<strong>Email: </strong> <%= @user.email %><br/>
<strong>Role: </strong> <%= @user.information.role %><br/>
<strong>Birthday: </strong> <%= @user.information.date_of_birth.strftime("%d/%m/%Y") %><br/>
<strong>Address: </strong> <%= @user.information.address %><br/>
<strong>Phone: </strong> <%= @user.information.phone %><br/>
<strong>Day join department: </strong> <%= @department.created_at.strftime("%d/%m/%Y") %><br/>
<strong>Projects participated: </strong> <%= @done_projects.length %><br/>
<strong>Project is participating: </strong> <%= @doing_projects.length %><br/>
<br>
<p style="color: crimson"><i> Kicking this employee will kick him out of the projects this employee is working on !!</i>
</p>
<%= link_to 'Kick', users_department_path(@user.id),
            data: { "turbo-method": :delete, turbo_confirm: 'Are you certain you want to delete this?' }, class: 'btn btn-danger' %>
