<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <span class="nav-link nav-link dropdown-toggle navbarDropdown "  role="button" data-toggle="dropdown" aria-expanded="false"><%= current_user.name %>(<%= current_user.role_id %>)</span>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Logout", sign_out_path, method: 'delete', class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <%= link_to "Department", departments_path ,class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Project", projects_path ,class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>